<html>
    <head>
        <title>
            About
        </title>
        <link rel='stylesheet' href='/static/css/styles.css'>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site is created by Atul Dixit. It uses data from mapbox.com and weatherstack.net</p>
            <img class="portrait" src="/static/img/a.jpg">
            
        </div>
        {{>footer}}
    </body>
</html>