<html>
    <head>
        <title>
            About
        </title>
        <link rel='stylesheet' href='/static/css/styles.css'>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img src="/static/img/images.jpg">
            <h5>{{name}}</h5>
        
        </div>
        {{>footer}}
    </body>
</html>