<html>
    <head>
        <title>
            Help
        </title>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <h5>{{helptext}}</h5>
        </div>
        {{>footer}}
    </body>
</html>